@mixin padding-setting($top: 1, $right: 1, $bottom: 1, $left: 1) {
  padding-top: $top * 8px;
  padding-right: $right * 8px;
  padding-bottom: $bottom * 8px;
  padding-left: $left * 8px;
}

@mixin margin-setting($top: null, $right: null, $bottom: null, $left: null) {
  margin-top: $top * 8px;
  margin-right: $right * 8px;
  margin-bottom: $bottom * 8px;
  margin-left: $left * 8px;
}
