// 메뉴
.menu {
  width: 80%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -500px;

  background-color: $dark-bg;

  visibility: hidden;
  transition: right 1s;

  &.active {
    visibility: visible;
    right: 0;
  }

  .menu__close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;

    .menu__close-btn {
      padding: 16px;
    }
  }

  .menu__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .menu__links-btn {
      @include text-style(18, 400, $dark-text);
      padding: 4px 0;
      margin: 4px 0;

      &.disabled {
        pointer-events: none;
        text-decoration: underline;
      }
    }
  }

  .menu__gnb {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

    .menu__gnb-selectTeam {
      @include text-style(18, 400, $dark-text);
      background-color: $dark-lvTwo;
      padding: 4px 8px;
      border-radius: 8px;
    }

    .menu__gnb-logout {
      @include text-style(18, 400, $dark-text);
      background-color: $dark-lvOne;
      padding: 4px 8px;
      border-radius: 8px;
    }
  }
}

// dimmed
.dimmed {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background-color: $dimmed;
  opacity: 0.7;

  visibility: hidden;

  &.active {
    visibility: visible;
  }
}
