.skeleton__Box {
  height: 100%;
  font-family: "Vibur", cursive;
  font-size: 24px;
  background-color: #141414;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heart {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.word {
  font-size: 48px;
  text-align: center;
  line-height: 1;
  color: #c6e2ff;
  animation: neon 0.1s ease-in-out infinite alternate;
  margin-bottom: 16px;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
      0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
      0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
      0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
      0 0 60px rgba(30, 132, 242, 1);
  }
}

@keyframes neonBar {
  from {
    box-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
      0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
      0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    box-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
      0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
      0 0 60px rgba(30, 132, 242, 1);
  }
}

$loadingTime: 1.5s;
$color: #c6e2ff;

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.bg {
  background-color: $color;
  animation: loading $loadingTime linear 1;
}

.el {
  color: $color;
  width: 250px;
  height: 10px;
  border: 1px solid $color;
  border-radius: 10px;
  animation: neonBar 0.1s ease-in-out infinite alternate;

  &:after {
    padding-left: 20px;
    display: block;
    text-align: center;
    padding: 10px 20px;
    box-shadow: 0 0 6px rgba(202, 228, 225, 0.92);
    color: rgb(0, 255, 255);
    mix-blend-mode: difference;
    // animation: count 5s linear 1;
  }
}
