.teams-container {
  margin: 12px auto;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.img-box {
  width: 100%;
  height: 150px;

  display: flex;
  justify-content: center;
  overflow: hidden;
}

.member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

.slick-slide {
  padding: 0 4px;
}