// 일반 모드
$basic-bg: #f5f7ff;
$basic-lvOne: #e6e9f3;
$basic-lvTwo: #bcc0cf;
$basic-lvThree: #a1a5b6;
$basic-text: #2e313d;
$basic-emText: #121319;

// 다크 모드
$dark-bg: #090a0d;
$dark-lvOne: #121319;
$dark-lvTwo: #2e313d;
$dark-lvThree: #585d6e;
$dark-text: #e6e9f3;
$dark-emText: #dfe2ec;

// 기본
$white: #fff;
$black: #000;
$select: #43a4eb;
$red: #a64941;
$blue: #d0e2f2;
$border: #595958;
$disabled-bg: #878c9e;
$disabled-test: #bfbfbd;
$kakao: #fee500;

$sixers: #5b2b82;
$dimmed: #2e313d;

