$font-main: 'Noto Sans', sans-serif;
$font-team: 'Oxanium', sans-serif;
$font-price: 'Tahoma', sans-serif;

$font-size-10: 10px;
$line-height-10: 14px;
$letter-spacing-10: -0.005em;

$font-size-12: 12px;
$line-height-12: 16px;
$letter-spacing-12: -0.005em;

$font-size-13: 13px;
$line-height-13: 20px;
$letter-spacing-13: -0.01em;

$font-size-14: 14px;
$line-height-14: 24px;
$letter-spacing-14: -0.01em;

$font-size-16: 16px;
$line-height-16: 24px;
$letter-spacing-16: -0.01em;

$font-size-18: 18px;
$line-height-18: 28px;
$letter-spacing-18: -0.02em;

$font-size-24: 24px;
$line-height-24: 34px;
$letter-spacing-24: -0.01em;

$font-size-32: 32px;
$line-height-32: 42px;
$letter-spacing-32: -0.01em;

$font-size-48: 48px;
$line-height-48: 52px;
$letter-spacing-48: -0.01em;
