.tm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;

  .tm__notice {
    padding: 6px 8px;
    margin: 8px 0;
    border-radius: 8px;

    background-color: $dark-lvTwo;

    .tm__noticeBtn {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .tm__notice-title {
        @include text-style(14, 700, $dark-emText);
        display: flex;
        flex-wrap: wrap;
      }

      .tm__notice-contentsTitle {
        @include text-style(12, 400, $dark-emText);
        @include line-clamp(1);
      }

      .tm__notice-date {
        @include text-style(10, 400, $dark-emText);
      }
    }
  }

  .tm__banner {
    height: 130px;
    background-color: $white;
    border-radius: 4px;

    position: relative;
    margin: 8px 0;
  }

  .tm__plan {
    border: 8px solid $border;
    border-radius: 8px;
    margin: 8px 0;

    background-color: #fff;

    .tm__plan-title {
      @include text-style(16, 700, $white);
      background-color: $border;
      width: fit-content;
      width: fit-content;
      padding: 2px 0;
      border-bottom-right-radius: 8px;
      padding-right: 6px;
    }

    .tm__plan-texts {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 28px;

      .tm__plan-text {
        @include text-style(16, 400, $basic-text);
        font-family: $font-team;
      }
    }
  }

  .tm__playRecord {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;

    background: linear-gradient(
      to left,
      rgba(140, 127, 109, 100%),
      rgba(140, 127, 109, 0%)
    );
    border-radius: 8px;
    padding: 6px;

    .tm__playRecord-title {
      @include text-style(14, 700, $white);
      display: flex;
      flex-wrap: wrap;
    }

    .tm__playRecord-record {
      @include text-style(12, 400, $white);
      display: flex;
      flex-wrap: wrap;
    }

    .tm__playRecord-date {
      @include text-style(10, 400, $white);
    }
  }

  .tm__teamBtn {
    display: flex;
    gap: 16px;
    margin: 8px 0;

    height: 150px;

    .tm__teamBtn-infoCentre {
      border-radius: 8px;
      background-color: $blue;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-basis: 70%;

      padding: 8px;

      .tm__infoCentre-title {
        @include text-style(24, 700, $basic-text);
      }

      .tm__infoCentre-subTitle {
        @include text-style(14, 400, $basic-text);
      }
    }

    .tm__teamBtn-inGameMode {
      border-radius: 8px;
      @include text-style(24, 700, $white);
      background-color: $red;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-basis: 30%;

      padding: 8px;

      writing-mode: vertical-lr;
    }
  }
}
