.info-container {
  .info__teamName-container {
    background-color: $dark-lvTwo;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .info__teamName {
      @include text-style(24, 700, $white);
      font-family: $font-team;
    }

    .info__startDate {
      @include text-style(16, 400, $white);
      font-family: $font-team;
      padding: 16px;
    }
  }

  .info__teamList-container {
    background-color: $sixers;
    padding: 0 16px;
    overflow: auto;
    // margin-bottom: 100px;

    p {
      @include text-style(12, 400, $white);
    }

    .info__teamList-item {
      display: grid;
      height: 65px;
      border-bottom: 1px solid $white;
      transition: height 0.5s ease;

      &.th {
        grid-template-columns: repeat(7, 1fr);
        height: 50px;
        align-items: center;
        text-align: center;

        .photo {
          visibility: hidden;
        }

        .subInfo {
          visibility: hidden;
        }

        .style {
          grid-column: span 2;
        }
      }

      &.open {
        display: flex;
        flex-direction: column;

        height: 250px;
        overflow: hidden;

        padding: 10px 0;

        .info__item-btn {
          opacity: 0.5;
          height: 50px;

          p {
            text-decoration: line-through;
          }

          .info__item {
            &.photo {
              visibility: hidden;
            }
          }
        }
      }

      .info__item-btn {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: center;

        width: 100%;
        height: 65px;
        transition: opacity 0.5s ease;

        .info__item {
          &.photo {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $white;

            transition: opacity 0.5s ease;
          }

          &.subInfo {
            display: grid;
            grid-template-columns: repeat(2, 2fr);

            .info__subInfo-text {
              &.number {
                text-align: end;
                padding-right: 3px;
              }
              &.position {
                text-align: start;
                padding-left: 3px;
              }
              &.name {
                grid-column: span 2;
              }
            }
          }

          &.nickname {
          }

          &.winRate {
          }

          &.attRate {
          }

          &.style {
            grid-column: span 2;
          }
        }
      }

      .info__item-detail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        width: 100%;
        height: 100%;

        .info__detail-img {
          background-color: #2d1b1b;

          width: 100%;
          height: 100%;
          overflow: hidden;
          display: block;

          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
          }
        }

        .info__detail-contents {
          padding: 0 8px;
          overflow: hidden;

          .info__contents {
            width: 100%;
            padding: 2px 0;
            border-bottom: 1px solid $border;

            &.basic {
              .info__basic {
                &.name {
                  @include text-style(14, 500, $dark-text);
                }

                &.nickname {
                  @include text-style(12, 400, $dark-text);
                  padding: 0 4px;
                }

                &.age {
                  @include text-style(12, 400, $dark-text);
                }
              }
            }

            &.health {
              .info__health {
                &.height {
                  @include text-style(12, 400, $dark-text);
                }

                &.weight {
                  @include text-style(12, 400, $dark-text);
                  padding-left: 4px;
                }
              }
            }

            &.style {
              @include text-style(14, 400, $dark-text);
            }

            &.mvp {
              padding: 4px 0;
              .info__mvp-title {
                @include text-style(14, 500, $dark-emText);
              }

              .info__mvp-awards {
                display: flex;
                overflow: hidden;
                overflow-x: auto;

                .mvpAward {
                  width: 20px;
                  height: 20px;
                  padding: 4px 0;
                }
              }
            }

            &.win {
              padding: 4px 0;
              .info__win-title {
                @include text-style(14, 500, $dark-emText);
              }

              .info__win-awards {
                display: flex;
                overflow: hidden;
                overflow-x: auto;

                .winAward {
                  width: 20px;
                  height: 20px;
                  padding: 4px 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
